@import '@/assets/scss/Variables.scss';

.container{
    font-family: $primary-font;
    margin: auto;
    max-width: px2rem(1440);
    height: px2rem(791);
    background-image: url("/public/img/hero-header-home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.container-left{
    width: fit-content;
    height: 100%;
    display: flex;
    border-right: px2rem(2) solid $white;

    .tennis-ball-ctn{
        margin: px2rem(25) px2rem(32) 0 px2rem(36);
        
        img{
            width: px2rem(37);
            height: px2rem(37);
        }
    }
}

.container-right{
    width: 100%;
    height: 100%;

    .nav-ctn{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
    
        .nav-links{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: px2rem(579);
            height: px2rem(37);
            padding: 0;
            margin: px2rem(44) px2rem(532) px2rem(144) px2rem(67);
            font-size: px2rem(16);

            a{
                text-decoration: none;
                color: $white;
                font-weight: normal;
                letter-spacing: px2rem(1.4);
            }
        
            a.router-link-exact-active{
                color: $white;
                font-weight: bold;
                letter-spacing: px2rem(1.5);
                border-bottom: px2rem(2) solid $white;
                width: px2rem(17);
            }
        }

        .nav-lenguage{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 62px;
            height: px2rem(37);
            margin: px2rem(45) px2rem(94) 0 0;

            a{
                color: $white;
                font-size: px2rem(13);
                letter-spacing: px2rem(1.14);
            }

        }
    }

    .hero-ctn{
        width: px2rem(709);
        height: px2rem(257);
        margin: 0 0 0 px2rem(67);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; 
        color: $white;
        letter-spacing: px2rem(-0.05);
        line-height: 1.28;
        font-size: px2rem(53);
        font-weight: normal;  

        .hero-span-play{
            text-align: left;

            .hero-span-tennis{
                color: $sickly-yellow;
                font-weight: bold;
            }
        }

        .button-ctn{
            position: absolute;
            top: px2rem(231);
            margin: px2rem(231) 0 0 0;

            button{
                display: flex;
                align-items: center;
                background-color: transparent;
                cursor: pointer;      
                width: px2rem(269);    
                height: px2rem(53);
                border-radius: px2rem(26.5);
                border: solid 1px $white; 
                padding: 0;                
        
                .button-span_text{         
                    display: flex;
                    align-items: center;   
                    font-weight: 500;
                    text-transform: uppercase;
                    margin: 0 0 0 px2rem(30);
                    width: px2rem(190);
                    height: px2rem(23);
                    line-height: 2.15;
                    letter-spacing: px2rem(1.01);
                    color: $white;
                }
        
                .button-img_arrow{
                    display: flex;
                    align-items: center;
                    width: px2rem(23);    
                    height: px2rem(6);
                    margin: px2rem(23) px2rem(39) px2rem(24) 0;
                    position: absolute;
                    right: 0;
                    filter: invert(1);
                }
        
                &:hover{
                    background-color: $sickly-yellow;
                    border: 0;
                }
            }
        }

    }
}